/elements/*
/install-sh
/config-minios.h.in
/LICENSE
/configure.in
/config-ns.h.in
/Makefile.in
/mkinstalldirs
/FAQ
/INSTALL.md
/config.guess
/AUTHORS
/config.mk.in
/igmp_opgave/*
/click-buildtool.in
/CMakeLists.txt
/click-mkelemmap
/config.status
/config-linuxmodule.h.in
/NODIST
/.idea/*
/click-compile.in
/configure
/DISTFILES
/pathvars.h.in
/config-userlevel.h.in
/config.sub
/missing
/config.h.in
/installch.in
/installch
/stamp-h
/config-bsdmodule.h.in
/Makefile
/NEWS
/switch.pcap
/aclocal.m4
/click.spec
/scripts/
/config.log
